html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  
}


.content-section {
  scroll-snap-align: start;
}

.scroll-smooth {
  scroll-behavior: smooth;
  scroll-margin-top: 4rem;
}

.section {
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 0.3s;
}

.intro {
  font-size: clamp(22px, 5vw, 44px);
  /* clamp(min, preferred, max)  */
  font-weight: 700;
  font-family: 'Segoe UI', sans-serif;
  color: black;
}

.type {
  /* font-size: clamp(22px, 5vw, 44px); */
  /* font-weight: 700;
  font-family: 'Segoe UI', sans-serif; */
  /* background-image: linear-gradient(to right ,#413c79, #c0abf0d1); */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}



.headline {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.section-desc {
  text-align: center;
  color: gray;
  max-width: 600px;
  margin: auto;
}

.project-card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  margin: auto;
}

.dark-toggle {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  background: #333;
  color: white;
  border-radius: 9999px;
  cursor: pointer;
}