@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer theme, base, components, utilities;
/* @import "./input.css" layer(theme);
@import "./input.css" layer(base);
@import "./input.css" layer(utilities); */

/* irem = 16px , 2=32 */
/* :root {
  --text-xxs: clamp(0.5rem, 0.5rem + 0.3vw, 0.75rem);
  --text-xs: clamp(0.63rem, 0.63rem + 0.4vw, 0.9rem);
  --text-sm: clamp(0.75rem, 0.75rem + 0.5vw, 1rem);
  --text-md: clamp(0.9rem, 0.9rem + 0.6vw, 1.2rem);
  --text-lg: clamp(1rem, 1rem + 1vw, 1.5rem);
  --text-xl: clamp(1.1rem, 1.1rem + 1.3vw, 1.75rem);
  --text-2xl: clamp(1.2rem, 1.2rem + 1.6vw, 2rem);
  --text-3xl: clamp(1.4rem, 1.4rem + 2.2vw, 2.5rem);
  --text-4xl: clamp(1.6rem, 1.6rem + 2.7vw, 3rem);
  --text-5xl: clamp(1.8rem, 1.8rem + 3.4vw, 3.5rem);
  --text-6xl: clamp(2rem, 2rem + 4vw, 4rem);
  --text-7xl: clamp(2.2rem, 2.2rem + 5.6vw, 5rem);
} */

@layer base {
    html {
        scroll-behavior: auto;
        overscroll-behavior-y: contain;
        -webkit-overflow-scrolling: touch;
    }

    body {
        cursor: url('/assets/cursor.png') 0 0, auto;
        position: relative;
        overflow-x: hidden;
        height: 100%;
        @apply font-sans antialiased text-gray-900 bg-white dark:text-gray-100 dark:bg-gray-900;
    }
}


@theme {
    --font-oswald: Oswald, "sans-serif";
    --font-poppins: Poppins, "sans-serif";
    --font-montserrat: Montserrat, "sans-serif";
    --font-noto: Noto Sans, "sans-serif";
    --font-work: Work Sans, "sans-serif";
    --font-ubuntu: Ubuntu, "sans-serif";
    --font-lobster: Lobster, "sans-serif";
    --font-lato: Lato, "sans-serif";
    --font-lora: Lora, "serif";

    --text-xxs: clamp(0.5rem, 0.5rem + 0.3vw, 0.75rem);
    --text-xs: clamp(0.63rem, 0.63rem + 0.4vw, 0.9rem);
    --text-sm: clamp(0.75rem, 0.75rem + 0.5vw, 1rem);
    --text-md: clamp(0.9rem, 0.9rem + 0.6vw, 1.2rem);
    --text-lg: clamp(1rem, 1rem + 1vw, 1.5rem);
    --text-xl: clamp(1.1rem, 1.1rem + 1.3vw, 1.75rem);
    --text-2xl: clamp(1.2rem, 1.8rem + 1.5vw, 2rem);
    --text-3xl: clamp(1.4rem, 1.4rem + 2.2vw, 2.5rem);
    --text-4xl: clamp(1.6rem, 1.6rem + 2.7vw, 3rem);
    --text-5xl: clamp(1.8rem, 1.8rem + 3.4vw, 3.5rem);
    --text-6xl: clamp(2rem, 2rem + 4vw, 4rem);
    --text-7xl: clamp(2.2rem, 2.2rem + 5.6vw, 5rem);
}



@layer components {

    /* Header */
    .header {
        @apply px-4 bg-white/90 shadow-lg shadow-blue-500/50 items-center rounded-lg dark:bg-gray-900 dark:shadow-blue-500/30
    }

    div::-webkit-scrollbar {
        display: none;
    }

    .hyphens-auto {
        hyphens: auto;
    }

    #custom-cursor {
        transition: transform 0.15s ease-out, background 0.3s ease;
    }


    .footer {
        @apply bg-white/90 text-black text-center rounded-b-lg shadow-lg shadow-blue-500/50 dark:bg-gray-900 dark:text-white dark:shadow-blue-500/30;
    }

    /* Navigation Links */
    .tab-link {
        @apply rounded-sm block mx-1 px-2 py-1 justify-center hover:bg-blue-500/15 hover:text-black dark:hover:bg-white/90
    }

    .tab-link span {
        @apply font-poppins
    }

    .tab-link.active {
        @apply text-blue-500 font-medium border-b-4 border-blue-500;
    }


    .tab-link.active span {
        /* @apply animate-bounce relative -bottom-2 inline-block duration-300 leading-none; */
        @apply inline-block leading-none text-blue-500 hover:text-black dark:text-white
        /* dark:hover:bg-blue-600   */
        transition-colors duration-300;
        animation: custom-bounce 1.5s infinite;
    }


    @keyframes custom-bounce {

        0%,
        100% {
            transform: translateY(8px);
        }

        50% {
            transform: translateY(-5px);
            /* ← Change this value to control height */
        }
    }


    .animate-full-bounce {
        animation: full-bounce 10s infinite ease-in-out;
    }

    @keyframes full-bounce {

        0%,
        100% {
            transform: translateY(33px);
            /* down side */
        }

        50% {
            transform: translateY(-55%);
        }
    }


    @keyframes spin-slow {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .animate-spin-slow {
        animation: spin-slow 20s linear infinite;
    }





    .form-input,
    .form-textarea {
        background: transparent;
        transition: all 0.3s ease;
    }

    .form-input:focus,
    .form-textarea:focus {
        outline: none;
        border-color: #3b82f6;
        box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
    }

    #menu-toggle {
        /*  z-10  */
        @apply p-1 text-gray-500 focus:outline-none hover:bg-blue-950 hover:text-blue-500 transition-colors duration-200;
    }

    .mobile-menu-card {
        @apply fixed top-12 p-4 right-5 z-40 w-55 h-fit bg-white dark:bg-gray-950 shadow-lg shadow-blue-500/50 rounded-lg transition-all duration-300 ease-in-out;
        backdrop-filter: blur(1px);
    }

    .mob-tab-link {
        @apply flex py-2 px-4 my-0.5 text-gray-600 hover:text-blue-500 rounded-sm hover:bg-blue-950 transition-colors duration-200
    }

    .mob-tab-link.active {
        @apply text-blue-50 font-medium;
    }

    .mob-tab-link.active span {
        @apply animate-pulse inline-block duration-200;
    }

    /* Mobile menu */
    .mobile-menu {
        @apply fixed top-0 right-0 z-30 w-fit h-fit bg-transparent transition-opacity duration-300;
        backdrop-filter: blur(2px);
    }

    .mobile-menu.hidden {
        @apply opacity-0 pointer-events-none;
    }

    .mobile-menu.open {
        @apply opacity-100 pointer-events-auto;
    }

    /* Content sections */
    .content-section {
        @apply min-h-screen sm:min-h-[calc(100vs-64px)] w-full px-2 py-3;
        /* text-[clamp(1.3rem,3vw,2rem)] leading-[1.3]; */
        scroll-snap-align: start;
        /* Optional for better scroll control */
    }
    





    .intro {
        /* @apply text-[clamp(20px, 4vw, 40px)] leading-[1.3]; */
        @apply text-3xl font-bold font-ubuntu;
    }

    .type {
        /* @apply text-[clamp(22px, 5vw, 55px)] leading-[1.3]; */
        @apply text-xl font-mono bg-gradient-to-r from-gray-400 to-blue-500 bg-clip-text text-transparent;
    }

    .about-card {
        @apply h-auto w-full flex flex-col justify-center items-start px-2 py-3 my-3 rounded-md border-2 border-blue-400/40 shadow-lg shadow-blue-500/50;
    }

    .about-heading{
        @apply text-xl font-ubuntu font-bold underline decoration-2 underline-offset-8 my-5
    }

    .about-title{
        @apply text-xl font-oswald font-bold underline decoration-2 underline-offset-8 my-5 text-center;
    }

    .about-desc {
        @apply text-sm md:text-md font-noto italic;
    }

    #experience-container{
        @apply flex w-full flex-col;
    }

    .experience-card {
        @apply justify-start items-start px-3 py-3 my-3 rounded-md border-2 border-blue-400/40 shadow-lg shadow-blue-500/50
    }

    .experience-heading{
        @apply text-xl font-ubuntu font-bold underline decoration-2 underline-offset-8 my-5
    }

    .experience-title {
        @apply text-lg font-oswald font-bold;
    }

    .experience-subtitle {
        @apply text-xs md:text-sm text-gray-400;
    }

    .experience-desc {
        @apply list-disc font-noto text-sm md:text-md pl-3;
    }

    .experience-bullets{
       @apply list-disc font-oswald text-sm md:text-md pl-3;

    }

    .skills-heading{
        @apply text-xl font-ubuntu font-bold underline decoration-2 underline-offset-8 my-5
    }

    .skills-title {
        @apply text-md font-oswald font-bold py-2;
    }

    .skills-bar {
        @apply bg-blue-600 text-sm font-medium text-blue-100 text-center p-0.5 leading-none rounded-full;
    }

    /* profile image */
    .profile-image {
        @apply rounded-full
        /* opacity-40 */
        brightness-60 border-blue-500 shadow-xl shadow-blue-500/50 hover:scale-105
        /* hover:opacity-70 */
        hover:brightness-70 dark:shadow-blue-500/70 ease-in-out transition-all duration-300
    }
    .profile-image-border {
        @apply rounded-full
        /* opacity-40 */
        brightness-60 border-blue-500 shadow-xl shadow-blue-500/50 hover:scale-105
        /* hover:opacity-70 */
        hover:brightness-70 dark:shadow-blue-500/70 ease-in-out transition-all duration-300
    }


    /* project section */

    .projects-heading{
        @apply text-xl font-ubuntu font-bold underline decoration-2 underline-offset-8 my-5
    }
    .projects-desc{
        @apply text-sm md:text-md font-mono  italic mb-8 text-justify indent-3 px-5 break-words hyphens-auto text-gray-500 dark:text-gray-300;
    }

    .project-title {
        @apply text-md md:text-lg font-oswald font-semibold text-gray-900 dark:text-gray-100;
    }

    .project-desc{
      @apply text-sm md:text-md font-lora line-clamp-5 text-gray-400;
    }



    /* Form components */

    .contact-us-heading{
        @apply text-xl font-ubuntu font-bold underline decoration-2 underline-offset-8 my-5;
    }

    .contact-us-desc{
      @apply text-sm md:text-md font-noto italic;
    }
   .contact-us-card{
        @apply h-auto w-full flex flex-col justify-center items-start px-2 py-3 my-1 rounded-md border-2 border-blue-400/40 shadow-lg shadow-blue-500/50;
   }


    .form-input {
        @apply w-full p-3 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-colors duration-200;
    }

    .form-input {
        @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent;
    }

    .form-textarea {
        @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent resize-none;
    }

    .btn-primary {
        @apply bg-blue-600 text-white px-6 py-2 rounded-lg hover:bg-blue-700 transition-colors duration-200;
    }


    .toast-card {
        @apply bg-blue-700/50 text-white px-4 py-2 m-5 rounded border-2 border-blue-500 shadow-lg shadow-blue-500/50 opacity-0 translate-y-5 transition-all duration-500 ease-in-out pointer-events-none;
    }

    /* mobile frame */
    .mobile-card {
        @apply flex flex-col w-full justify-start items-start p-2 my-2 shadow-md rounded-md border-2 border-blue-400/40 shadow-blue-500/30;
    }


}